    <mat-expansion-panel>



      <mat-expansion-panel-header [collapsedHeight]="'58px'" [expandedHeight]="'58px'">


        <mat-panel-title>
          Search Customers
          <!-- <mat-icon color="primary">info</mat-icon> -->
        </mat-panel-title>

        <mat-panel-description>

          <!-- ########################################################## -->
          <!-- Active filters -->
          <!-- ########################################################## -->

          <div class="special-font" style="display:block;color: rgba(0,0,0,.87); font-size:14px; font-weight: 400">

            {{activeFiltersMessage}}
            <span class="comma" *ngFor="let filter of activeFilterNames">{{(filter.replace('Filter', '') | titlecase)}}</span>
          </div>

        </mat-panel-description>


      </mat-expansion-panel-header>



      <div class="row-container" style="align-items: flex-end">

        <!-- ########################################################## -->
        <!-- SearchInput - searching in all fields -->
        <!-- ########################################################## -->

        <!-- placeholder="Search" -->
        <mat-form-field>
          <input matInput #searchInput type="text" matTooltip="tooltip" [(ngModel)]="searchInputModel" (change)="onSearchInputChange()">
          <mat-hint align="start">
            Search in all fields
          </mat-hint>
        </mat-form-field>


        <!-- ########################################################## -->
        <!-- Search/Clear/Save filter buttons -->
        <!-- ########################################################## -->

        <div class="push-right">

          <button mat-raised-button matTooltip="Start searching customers by applying the provided filters." (click)="emitQueryParams()">
            Search
          </button>

        </div>

        <button mat-raised-button matTooltip="Clear all filters." (click)="searchInputModel=''; onSelectFilterTemplate(''); ">
          Clear
        </button>

        <button mat-raised-button matTooltip="Save the current filter template." (click)="updateFilterTemplate(filterTemplateForm.form.getRawValue())">
          Save
        </button>

        <button mat-raised-button matTooltip="Save the current filter template as new template." (click)="createFilterTemplate(filterTemplateForm.form.getRawValue())">
          Save As
        </button>

        <button mat-raised-button matTooltip="Select (add/remove) filters." (click)="filterDrawerRef.toggle()">
          Settings
        </button>


      </div>




      <div class="row-container">

        <!-- ########################################################## -->
        <!-- Select a filter template  -->
        <!-- ########################################################## -->

        <mat-form-field>

          <mat-select [(value)]="selectedFilterTemplateName" (selectionChange)="onSelectFilterTemplate(selectedFilterTemplateName)">

            <!-- <mat-option value="standard">Standard</mat-option> -->
            <!-- <mat-option value=""></mat-option> -->
            <mat-option *ngFor="let name of filterTemplateNames" value="{{name}}">{{name}}</mat-option>
          </mat-select>

          <mat-hint align="start">
            Select Filter Template
          </mat-hint>

        </mat-form-field>

      </div>




      <mat-drawer-container>


        <!-- ############################################################ -->
        <!-- Select filters table -->
        <!-- ############################################################ -->
        <!-- Right drawer for selecting the filters to display -->

        <mat-drawer class="mat-elevation-z8" #filterDrawerRef position="end" mode="side" [opened]="'false'">

          <table mat-table #selectingFiltersTable [dataSource]="availableFilterNames">

            <ng-container [matColumnDef]="column" *ngFor="let column of ['select3', 'name']; let i = index" matTooltip="Select which filters to display">

              <!-- 'select3' column definition -->
              <ng-container *ngIf="column === 'select3'">

                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle3() : null; onSelectFilter('')" [checked]="filterSelection.hasValue() && allFiltersSelected()" [indeterminate]="filterSelection.hasValue() && !allFiltersSelected()">
                  </mat-checkbox>
                </th>

                <!-- row (=filterName) from dataSource -->
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? filterSelection.toggle(row) : null; $event ? onSelectFilter(row) : null" [checked]="filterSelection.isSelected(row)">
                  </mat-checkbox>
                </td>

              </ng-container>

              <!-- All other column definitions -->
              <ng-container *ngIf="column !== 'select3'">

                <th mat-header-cell *matHeaderCellDef>
                  Select Filters
                </th>

                <!-- row (=filterName) from dataSource -->
                <td mat-cell *matCellDef="let row; let i = index">{{availableFilterLabels[i] | titlecase}}
                </td>

              </ng-container>

            </ng-container>


            <!-- Row definitions -->
            <tr mat-header-row *matHeaderRowDef="['select3', 'name']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['select3', 'name']" (click)="filterSelection.toggle(row)"></tr>

          </table>

        </mat-drawer>



        <!-- Set min-height when drawer is opened -->
        <mat-drawer-content [class.drawer-open]="filterDrawerRef.opened">

          <!-- ########################################################## -->
          <!-- Filter template form -->
          <!-- ########################################################## -->

          <!-- (formSubmit)="onFilterTemplateFormSubmit($event)"> -->

          <w3s-dynamic-form #filterTemplateForm *ngIf="filterTemplateQuestions" [questions]="filterTemplateQuestions" [options]="filterTemplateFormOptions" (formSubmit)="emitQueryParams()">

          </w3s-dynamic-form>


          <div *ngIf="showTestValues" class="w3s-show-test-values">

            <br>########## filterTemplates = <br> {{filterTemplates | json}}

            <br>########## filterTemplateQuestions = <br> {{filterTemplateQuestions | json}}
            <br>
            <br>########## availableFilterNames = <br> {{availableFilterNames | json}}

            <br>########## selectedFilterNames = <br> {{selectedFilterNames | json}}

            <br>########## activeFilterNames = <br> {{activeFilterNames | json}}


            <!-- <div *ngIf="filterTemplateForm?.form?.value !== null"> -->
            <!-- <div *ngIf="filterTemplateForm"> -->
            <!-- Reference to the filter template form not set before AfterViewInit. -->

            <!-- This causes ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked.  -->

            <br>
            <br>########## filterTemplateForm?.form?.value = "selectedFilters" = <br> {{filterTemplateForm?.form?.value | json}}

            <br>########## filterTemplateForm?.form?.getRawValue() = <br> {{filterTemplateForm?.form?.getRawValue() | json}}


            <!-- <br>########## filterTemplateForm?.form?.getRawValue().id = {{filterTemplateForm?.form?.getRawValue()?.id}}

            <br>########## filterTemplateForm?.form?.get('id').disabled = {{filterTemplateForm?.form?.get('id')?.disabled}}

            <br>########## filterTemplateForm?.form?.id.disabled = {{filterTemplateForm?.form?.id?.disabled}}

            <br>########## filterTemplateForm?.form?.disabled = {{filterTemplateForm?.form?.disabled}} -->


            <!-- </div> -->

          </div>

        </mat-drawer-content>


      </mat-drawer-container>


    </mat-expansion-panel>





    <!-- ========================================================== -->
    <!-- OLD
          <mat-form-field>
            <input matInput [(ngModel)]="filterById" (change)="getCustomers()">
            <mat-error></mat-error>
            <mat-hint align="start">
              Id
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="filterByName" (change)="getCustomers()">
            <mat-error></mat-error>
            <mat-hint align="start">
              Name
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select [(value)]="filterByStatus" (selectionChange)="getCustomers()">
              <mat-option value=""></mat-option>
              <mat-option value="0">Suspended</mat-option>
              <mat-option value="1">Active</mat-option>
              <mat-option value="Pending">Pending</mat-option>
            </mat-select>
            <mat-hint align="start">
              Customer Status
            </mat-hint>
          </mat-form-field>
         -->
