<div class="w3s-list-component mat-elevation-z8">


    <!-- ############################################################ -->
    <!-- ############################################################ -->
    <!-- (1) Filter Section -->
    <!-- ############################################################ -->
    <!-- ############################################################ -->


    <mat-expansion-panel class="###filter-section###">

      <mat-expansion-panel-header [collapsedHeight]="'58px'" [expandedHeight]="'58px'">

        <mat-panel-title>
          Search Customers
          <!-- <mat-icon color="primary">info</mat-icon> -->
        </mat-panel-title>

        <mat-panel-description>

          <!-- ########################################################## -->
          <!-- Active filters -->
          <!-- ########################################################## -->

          <div class="special-font" style="display:block;color: rgba(0,0,0,.87); font-size:14px; font-weight: 400">

            {{activeFiltersText}}
            <span class="comma" *ngFor="let filter of activeFilters">{{(filter.replace('Filter', '') | titlecase)}}</span>
          </div>
        </mat-panel-description>

      </mat-expansion-panel-header>


      <div id="filterButtons" style="align-items: flex-end">

        <!-- ########################################################## -->
        <!-- SearchInput - searching in all fields -->
        <!-- ########################################################## -->

        <!-- placeholder="Search" -->
        <mat-form-field>
          <input matInput #searchInput type="text" matTooltip="tooltip">
          <mat-hint align="start">
            Search in all fields
          </mat-hint>
        </mat-form-field>


        <!-- ########################################################## -->
        <!-- Search/Clear/Save filter buttons -->
        <!-- ########################################################## -->

        <div class="push-right">

          <button mat-raised-button matTooltip="Start searching customers by applying the provided filters." (click)="getCustomers()">
            Search
          </button>

        </div>

        <button mat-raised-button matTooltip="Clear all filters." (click)="onClearFilters()">
          Clear
        </button>

        <button mat-raised-button matTooltip="Save the current filter template." (click)="updateFilterTemplate(filterTemplateForm.form.getRawValue())">
          Save
        </button>

        <button mat-raised-button matTooltip="Save the current filter template as new template." (click)="createFilterTemplate(filterTemplateForm.form.getRawValue())">
          Save as
        </button>

        <button mat-raised-button matTooltip="Select (add/remove) filters." (click)="filterDrawerRef.toggle()">
          Settings
        </button>

      </div>

      <div id="filterButtons">

        <!-- ########################################################## -->
        <!-- Select a filter template  -->
        <!-- ########################################################## -->

        <mat-form-field>

          <mat-select [(value)]="selectedFilterTemplateName" (selectionChange)="onSelectFilterTemplate(selectedFilterTemplateName)">

            <!-- <mat-option value="standard">Standard</mat-option> -->
            <!-- <mat-option value=""></mat-option> -->
            <mat-option *ngFor="let name of filterTemplateNames" value="{{name}}">{{name}}</mat-option>
          </mat-select>

          <mat-hint align="start">
            Select Filter Template
          </mat-hint>

        </mat-form-field>
      </div>

      <mat-drawer-container>

        <!-- ############################################################ -->
        <!-- Select filters -->
        <!-- ############################################################ -->
        <!-- Right drawer for selecting the filters to display -->

        <mat-drawer class="###filter-drawer### mat-elevation-z8" #filterDrawerRef position="end" mode="side" [opened]="'false'">

          <table mat-table class="###selecting-filters-table###" #selectingFiltersTable [dataSource]="availableFilters">

            <ng-container [matColumnDef]="column" *ngFor="let column of ['select3', 'name']; let i = index" matTooltip="Select which filters to display">

              <!-- Selection/Checkbox column/cell definition -->
              <ng-container *ngIf="column === 'select3'">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle3() : null; onSelectFilter()" [checked]="filterSelection.hasValue() && isAllSelected3()" [indeterminate]="filterSelection.hasValue() && !isAllSelected3()">
                  </mat-checkbox>
                </th>
                <!-- row from dataSource -->
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? filterSelection.toggle(row) : null; onSelectFilter()" [checked]="filterSelection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- All other column/cell definitions -->
              <ng-container *ngIf="column !== 'select3'">
                <th mat-header-cell *matHeaderCellDef>
                  Select Filters

                  <!-- <button mat-button style="color:inherit; margin-left:20px" color="accent" matTooltip="Close" (click)="filterDrawerRef.toggle()"> -->
                  <!-- Close -->
                  <!-- </button> -->

                </th>
                <td mat-cell *matCellDef="let row">{{row | titlecase}}</td>
              </ng-container>

            </ng-container>


            <!-- Row definitions -->
            <tr mat-header-row *matHeaderRowDef="['select3', 'name']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['select3', 'name']" (click)="filterSelection.toggle(row)"></tr>

          </table>

        </mat-drawer>


        <mat-drawer-content>

          <!-- ########################################################## -->
          <!-- Filter template form -->
          <!-- ########################################################## -->

          <!-- (formSubmit)="onFilterTemplateFormSubmit($event)"> -->

          <w3s-dynamic-form class="###filter-template-form###" #filterTemplateForm *ngIf="filterTemplateQuestions" [questions]="filterTemplateQuestions" [options]="filterTemplateFormOptions" (formSubmit)="getCustomers()">

          </w3s-dynamic-form>


          <div *ngIf="showTestValues" class="showTestValues">

            <br>########## filterTemplates = <br> {{filterTemplates | json}}

            <br>########## filterTemplateQuestions = <br> {{filterTemplateQuestions | json}}

            <br>########## availableFilters = <br> {{availableFilters | json}}

            <br>########## filtersToDisplay = <br> {{filtersToDisplay | json}}


            <!-- <div *ngIf="filterTemplateForm?.form?.value !== null"> -->
              <!-- Reference to the filter template form not set before AfterViewInit. -->

              <!-- This causes ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked.  -->
              <!-- <br>########## filterTemplateForm?.form?.value = <br> {{filterTemplateForm?.form?.value | json}} -->

            <!-- </div> -->
          </div>



          <!-- ========================================================== -->
          <!-- OLD
        <mat-form-field>
          <input matInput [(ngModel)]="filterById" (change)="getCustomers()">
          <mat-error></mat-error>
          <mat-hint align="start">
            Id
          </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="filterByName" (change)="getCustomers()">
          <mat-error></mat-error>
          <mat-hint align="start">
            Name
          </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-select [(value)]="filterByStatus" (selectionChange)="getCustomers()">
            <mat-option value=""></mat-option>
            <mat-option value="0">Suspended</mat-option>
            <mat-option value="1">Active</mat-option>
            <mat-option value="Pending">Pending</mat-option>
          </mat-select>
          <mat-hint align="start">
            Customer Status
          </mat-hint>
        </mat-form-field>
       -->

        </mat-drawer-content>

      </mat-drawer-container>


    </mat-expansion-panel>







    <!-- ############################################################## -->
    <!-- ############################################################## -->
    <!-- (2) List Section -->
    <!-- ############################################################## -->
    <!-- ############################################################## -->


    <!-- ############################################################ -->
    <!-- Create/Update/Delete customers buttons -->
    <!-- ############################################################ -->

    <!-- <mat-action-row #crudButtons style="align-items: center; font-size:14px;"> -->
    <div id="crudButtons" #crudButtons>

      <div class="special-font">
        {{dataSource.totalNumberOfItems | async}} customers selected.
      </div>


      <div class="push-right">
        <button mat-raised-button color="primary" matTooltip="Create new customers" (click)="createCustomer()">
          Create
        </button>
      </div>

      <button mat-raised-button color="primary" matTooltip="Update selected customers" (click)="updateCustomer()">
        Update
      </button>

      <button mat-raised-button color="primary" matTooltip="Delete selected customers" (click)="deleteCustomers()">
        Delete
      </button>

      <button mat-raised-button matTooltip="Add/Remove columns" (click)="columnDrawerRef.toggle()">
        Settings
      </button>

    </div>
    <!-- End of main CRUD Buttons -->


    <mat-divider></mat-divider>




    <mat-drawer-container class="###list-section###">

      <!-- ############################################################ -->
      <!-- Select columns -->
      <!-- ############################################################ -->
      <!-- Right drawer for selecting the columns to display -->

      <mat-drawer class="###column-drawer###" #columnDrawerRef position="end" mode="side" [opened]="'false'" class="mat-elevation-z8">

        <table mat-table class="###selecting-columns-table###" #selectingColumnsTable [dataSource]="availableColumns">

          <ng-container [matColumnDef]="column" *ngFor="let column of ['select2', 'name']; let i = index" matTooltip="Select which columns to display">

            <!-- Selection/Checkbox column/cell definition -->
            <ng-container *ngIf="column === 'select2'">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle2() : null; setColumnsToDisplay()" [checked]="columnSelection.hasValue() && isAllSelected2()" [indeterminate]="columnSelection.hasValue() && !isAllSelected2()">
                </mat-checkbox>
              </th>
              <!-- row from dataSource -->
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? columnSelection.toggle(row) : null; setColumnsToDisplay()" [checked]="columnSelection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- All other column/cell definitions -->
            <ng-container *ngIf="column !== 'select2'">
              <th mat-header-cell *matHeaderCellDef>
                Select Columns
              </th>
              <td mat-cell *matCellDef="let row">{{row | titlecase}}</td>
            </ng-container>

          </ng-container>


          <!-- Row definitions -->
          <tr mat-header-row *matHeaderRowDef="['select2', 'name']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['select2', 'name']" (click)="columnSelection.toggle(row)"></tr>

        </table>

      </mat-drawer>


      <mat-drawer-content>

        <div *ngIf="showTestValues" class="showTestValues">
          <br>########## availableColumns = <br> {{availableColumns | json}}
          <br>########## columnsToDisplay = <br> {{columnsToDisplay | json}}
        </div>


        <!-- ############################################################ -->
        <!-- Customer list - main data table -->
        <!-- ############################################################ -->

        <table mat-table class="###data-table###" #table matSort cdkDropListGroup [cdkDropListGroupDisabled]="'true'" [dataSource]="dataSource">

          <ng-container [matColumnDef]="column" *ngFor="let column of availableColumns; let i = index">

            <!-- Selection/Checkbox column/cell definition -->
            <ng-container *ngIf="column === 'select'">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="rowSelection.hasValue() && isAllSelected()" [indeterminate]="rowSelection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <!-- row from dataSource -->
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? rowSelection.toggle(row) : null" [checked]="rowSelection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- All other column/cell definitions -->
            <ng-container *ngIf="column !== 'select'">
              <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDropList cdkDropListLockAxis="x" cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropListDropped($event, i)" cdkDrag (cdkDragStarted)="dragStarted($event, i)" [cdkDragData]="{name: column, columnIndex: i}">
                {{column | titlecase}}
                <!-- <div class="example-handle" cdkDragHandle></div> -->
              </th>
              <td mat-cell *matCellDef="let row">{{row[column]}}</td>
            </ng-container>

          </ng-container>


          <!-- Row definitions -->
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="goToCustomerDetail(row)">
          </tr>
          <!--
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
            (click)="rowSelection.toggle(row)">
        -->

        </table>


        <!-- ############################################################ -->
        <!-- Spinner and paginator -->
        <!-- ############################################################ -->
        <!-- <div style="display:flex; justify-content:flex-end;"> -->

        <mat-action-row style="align-items: center">

          <mat-spinner [diameter]="20" *ngIf="dataSource.isLoading | async">
          </mat-spinner>

          <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]" [length]="dataSource.totalNumberOfItems | async" [showFirstLastButtons]="true">
          </mat-paginator>

        </mat-action-row>


      </mat-drawer-content>


    </mat-drawer-container>


  </div>
  <!-- .w3s-list-component -->
