.button-bar {
  display: flex;
  flex-direction: row;
  align-items: center; // vertical
  justify-content: flex-start; // horizontal
  flex-wrap: wrap; // default = nowrap

  padding: 16px 8px 16px 24px;
  font-size: 14px;
  width: 100%;
}

.button-bar button {
  margin-right: 20px;
}

.button-bar .push-right {
  // Auto margin will take up all of the space that it can,
  // and so the block is pushed to the right.
  margin-left: auto;
}

.button-bar .special-font {
  font-family: monospace;
}




.customerTable {}

.customerTable .mat-row {
  cursor: pointer;
}

.customerTable .mat-row:hover {
  background-color: rgba(0, 0, 0, .04);
}

.customerTable .mat-row.selected {
  background-color: rgba(0, 0, 0, .04);
}

.customerTable .mat-row.selected:hover {
  background-color: rgba(0, 0, 0, .05);
}





.drawer-open {
  min-height: 580px;
}

mat-drawer {
  width: 180px;
  //   min-height: 300px;
}

.comma:not(:first-child)::before {
  content: ', ';
}

.nixclose:hover {
  background: #ff4081;
  color: #fff;
}

.cdk-drag-preview {
  max-width: 100px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}




%flex-box {

  display: flex;

  flex-direction: row;
  align-items: center; // vertical
  justify-content: flex-start; // horizontal
  flex-wrap: wrap; // default = nowrap

  font-size: 14px;
  // padding: 16px 8px 16px 24px;

  .mat-form-field,
  button {
    margin-right: 20px;
  }
}


table {
  width: 100%;
}

.mat-spinner {
  margin: 16px 10px;
}

.mat-cell,
.mat-header-cell,
.mat-footer-cell {
  padding-right: 10px;
  font-size: 14px;
}

.mat-header-row,
.mat-footer-row {
  background-color: whitesmoke;
  /* #f7f7f7; */
  color: #346187;
  text-shadow: 0 0 0.125rem #ffffff;
}



/*
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
Instead we can target item 4 and separate it from the first three items
by giving it a margin-left value of auto.
Auto margins will take up all of the space that they can in their axis —
it is how centering a block with margin auto left and right works.
Each side tries to take as much space as it can,
and so the block is pushed into the middle. */

.push-right {
  margin-left: auto;
}






// Moved to global styles.scss
// .mat-sort-header-button {
//   cursor: move;
// }


// #filterButtons {
//   @extend %flex-box;
//   padding: 0 0 16px 24px; //30px 8px 16px 0px;
//   width: 100%;
// }

// #crudButtons {
//   @extend %flex-box;
//   padding: 16px 8px 16px 24px;
//   width: 100%;
// }
